<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/">HealthEase</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-start">
      <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li> -->

      <li class="nav-item">
        <a class="nav-link" href="/medicalquery">Medical Query</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/appointment">Chat</a>
      </li>
    </ul>
    <ul class="login navbar-nav justify-content-end">
      <% if (!login) { %>

      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">SignUp</a>
      </li>

      <% } else { %>

      <li class="nav-item">
        <form action="/logout" method="post">
          <button class="nav-link" type="submit">Logout</button>
        </form>
        <% } %>
      </li>
    </ul>
  </div>
</nav>
