

.v1{
  
  /* background: url('/assets/login_doctor.jpg'); */
  /* background-size: cover;
  height: 750px; */
  /* background-color: #4867D2; */
 
  padding: 50px;
  /* align-content: start; */
  /* padding: 20px; */
}

#v2{
  
    background: url('/assets/login_doctor.jpg');
    background-size: cover;
  background-color: white;
  width: 1300px; 
  height: 670px;
  /* align-content: start; */
  
}

#img{
  /* display: flex; */
  background-size: cover;
}

body {
  background-image: linear-gradient(lightblue, pink);
  background-size: cover;
  background-repeat: no-repeat;

 
    
}


h2 {
    text-align: center;
    margin-bottom: 30px;
    
  }

  #v2 {
    padding: 0%;
    padding-left: 100px;
    padding-top: 50px;
  }
 .form-container {

position: relative;
left: 0px;

    width: 400px;
    margin: auto 0;
    padding: 20px;
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    /* box-shadow: 10px 10px 5px lightblue; */
    align-items: center;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #1A8EFD;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .submit-btn:hover {
    background-color: white;
    color: #1A8EFD;
    border: 1px solid;
    border-color: #1A8EFD;
  }

  p {
    margin-top: 15px;

    
  }


  h1{
   width: 20%;
    background-clip: text;
    
    background-image: -webkit-linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
    -webkit-text-fill-color: transparent;
    margin-top: 50px;
  }


.header-div{
  margin-left: 100px;
}





